@font-face {
  font-family: "vazir";
  src: url("fonts/vazir/Vazir.eot");    /* IE9 Compact Modes */
  src: url("fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"),   /* IE6-IE8 */
    url("fonts/vazir/Vazir.ttf") format("truetype"),    /* Super Modern Browsers */
    url("fonts/vazir/Vazir.woff") format("woff"),   /* Pretty Modern Browsers */
    url("fonts/vazir/Vazir.woff2") format("woff2"),  /* Safari, Android, iOS */
    url("fonts/vazir/Vazir.svg#svgvazir") format("svg");    /* legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir" !important;
}

html {
  font-size: 100%;
}

body {
  direction: rtl;
  text-align: right;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
